.parent{
    background-color: tomato;
    padding : 10px;
    /* overflow: hidden; */
}

.parent div{
    padding-top : 10px;
    padding-bottom : 10px;
    text-align : center;
    background-color: brown;
    /* display: inline-block; */
width: calc((100% - 10px)/4);
float : left;
margin-left: 2px;
}

.clear{
    clear : both;
}